.header-top {
    background-color: #f72210;
    height: 95px;
    padding: 20px 10px 15px;
    width: 100%;
}
date {
    margin: 0, 0, 0, 20px;
    color: white;
    font: 16px
}
#logo{
    width: 380px;
}
.header-bottom{
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: #070707
}

