body {
	background: #eee;
}

.container {
	background: #fff;
	
}
.row{
	margin-top: 50px;
}
#img{
	width: 150px;
	height: 200px;
}

.navbar-brand img {
	width: auto;
	max-height: 40px;
}

/**
 * Add your styles below
 */
